<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updater Index</title>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        #app {
            width: 100%;
            height: 100vh;
            background-color: #222728;
            color: #9e9e9e;
            line-height: 100vh;
            text-align: center;
            font-size: 30px;
        }
    </style>
</head>
<body>
<div id="app">
    Updater is running
</div>
</body>
</html>