<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Updater Index</title>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/element-ui/index.css">
    <link rel="stylesheet" href="/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<!-- Swiper -->
<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="page-center">
                <p style="text-align: center;font-size: 3.5em;">Updater is running</p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="page-center" id="app-repository">
                <el-row>
                    <h2 style="text-align: center; margin: 20px 0;">App Repository</h2>
                    <el-row class="infinite-list">
                        <el-tree
                                :props="props"
                                :load="loadNode"
                                lazy>
                            <div slot-scope="{ node, data }">
                                <span>{{ data.name }}</span>
                                <el-tag effect="dark" size="mini" v-if="node.level===1 && latestVersion(data.name)" v-text="latestVersion(data.name)"></el-tag>
                            </div>
                        </el-tree>
                    </el-row>
                </el-row>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="page-center" id="app-upload">
                <el-row>
                    <h2 style="text-align: center; margin: 20px 0;">上传APP文件</h2>
                    <el-form :model="formData" label-width="100px">
                        <el-form-item label="应用名称">
                            <el-input size="mini" v-model="formData.appName"
                                      placeholder="上传的文件名满足 '应用名.应用版本.zip' 自动解析"/>
                        </el-form-item>
                        <el-form-item label="应用版本">
                            <el-input size="mini" v-model="formData.version"
                                      placeholder="上传的文件名满足 '应用名.应用版本.zip' 自动解析"/>
                        </el-form-item>
                        <el-form-item label="是否Latest">
                            <el-switch v-model="formData.latest"></el-switch>
                        </el-form-item>
                        <el-form-item label="应用文件">
                            <el-upload
                                    :auto-upload="false"
                                    :data="formData"
                                    :headers="{'Access-Control-Allow-Origin': '*'}"
                                    :limit="1"
                                    :on-change="upload.onChange"
                                    :on-error="upload.onError"
                                    :on-success="upload.onSuccess"
                                    accept=".zip"
                                    action="/upload"
                                    drag
                                    ref="upload"
                                    show-file-list
                            >
                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                <div class="el-upload__tip" slot="tip" style="color: #fff;">
                                    只能上传zip文件，不包含应用根文件夹
                                </div>
                            </el-upload>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="upload.submit" style="width: 100%" type="primary">上传文件
                            </el-button>
                        </el-form-item>
                    </el-form>
                </el-row>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<script src="/vue/vue.js"></script>
<script src="/element-ui/index.js"></script>
<script src="/swiper/swiper-bundle.min.js"></script>
<script src="/jquery/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script type="application/javascript">
    var appRepoVue = new Vue({
        el: '#app-repository',
        data: function () {
            return {
                props: {
                    label: 'name',
                    children: 'children',
                    isLeaf: function (data, node) {
                        return data?.type === 'FILE';
                    }
                },
            };
        },
        methods: {
            request: function (type, url, showError) {
                var request = new XMLHttpRequest();
                request.open('GET', url, false);  // 第三个参数为 false 表示同步
                request.send(null);
                // 确保请求完成
                var response = JSON.parse(request.responseText);
                if (response.code === 200) {
                    return response.data;
                }
                if (showError) {
                    ELEMENT.Message({message: response.msg, type: 'error'});
                }
                return null;
            },
            loadNode(node, resolve) {
                var path = '';
                if (node.level !== 0) {
                    path = encodeURIComponent(node.data.path);
                }
                var data = this.request('GET', '[[@{/repository/list?path=}]]' + path, true);
                if (data) {
                    return resolve(data);
                }
            },
            latestVersion(appName) {
                return this.request('GET', '/repository/' + appName + '/latest', false);
            }
        }
    });
    var appUploadVue = new Vue({
        el: '#app-upload',
        data: function () {
            return {
                formData: {
                    appName: '',
                    version: '',
                    latest: true,
                },
                upload: {
                    isBlank: function (str) {
                        return !str || str?.trim()?.length === 0;
                    },
                    checkForm: function () {
                        if (appUploadVue.$refs.upload._data.uploadFiles.filter(f => f.status === "ready").length === 0) {
                            ELEMENT.Message({message: '请选择要上传的文件', type: 'error'});
                            return false;
                        }
                        var formData = appUploadVue.$data.formData;
                        if (!formData.appName || formData.appName?.trim()?.length === 0) {
                            ELEMENT.Message({message: '请输入应用名称', type: 'error'});
                            return false;
                        }
                        if (!formData.version || formData.version?.trim()?.length === 0) {
                            ELEMENT.Message({message: '请输入应用版本', type: 'error'});
                            return false;
                        }
                        return true;
                    },
                    onChange: function (file, fileList) {
                        if (file.status !== "ready") {
                            return;
                        }
                        var isBlank = appUploadVue.$data.upload.isBlank;
                        if (isBlank(file.name)) {
                            return;
                        }
                        var first = file.name.indexOf('.');
                        var last = file.name.lastIndexOf('.');
                        if (first < 0 || first === last) {
                            return;
                        }
                        var appName = file.name.substring(0, first);
                        var version = file.name.substring(first + 1, last);
                        if (isBlank(appName) || isBlank(version)) {
                            return;
                        }
                        appUploadVue.$data.formData.appName = appName;
                        appUploadVue.$data.formData.version = version;
                    },
                    onSuccess: function (response, file, fileList) {
                        var result = response;

                        if (result?.code !== 200) {
                            ELEMENT.MessageBox.alert(result.msg, '上传失败', {type: 'error'});
                        } else {
                            ELEMENT.Message({message: result.msg || '上传成功', type: 'success'});
                            // 成功后清空文件列表
                            setTimeout(() => {
                                var uploadFiles = appUploadVue.$refs.upload._data.uploadFiles;
                                uploadFiles.splice(0, uploadFiles.length);

                                appUploadVue.$data.formData = {
                                    appName: '',
                                    version: '',
                                    latest: true,
                                };
                            }, 1000);
                        }
                    },
                    onError: function (err, file, fileList) {
                        var result = JSON.parse(err.message);
                        if (result?.code !== 200) {
                            ELEMENT.MessageBox.alert(result.msg, '上传失败', {type: 'error'});
                        } else {
                            ELEMENT.MessageBox.alert(err.message, '上传失败', {type: 'error'});
                        }
                    },
                    submit: function () {
                        if (!appUploadVue.$data.upload.checkForm()) {
                            return;
                        }
                        appUploadVue.$refs.upload.submit();
                    }
                }
            }
        }
    });
</script>
</body>

</html>