<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="XInclude">
    <Properties>
        <Property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] [%t] [%-40.40c{2.}:%-.40F:%L] > %m%n"/>
        <Property name="logPath" value="logs"/>
        <Property name="size" value="1G"/>
    </Properties>
    <Appenders>
        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <!-- UPDATER_LOG -->
        <RollingFile name="UPDATER_LOG" fileName="${logPath}/updater.log"
                     filePattern="${logPath}/archives/app-%d{yyyy-MM-dd}-%i.log.zip">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <!--默认一天一个文件-->
                <TimeBasedTriggeringPolicy/>
                <!--一天内大于size就单独分隔-->
                <SizeBasedTriggeringPolicy size="${size}"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="UPDATER_LOG"/>
        </Root>
    </Loggers>
</Configuration>